<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="This is an URL Shortener application" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <title>uriShorty</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-8 col-xl-6">
                <div class="jumbotron">
                    <h1 class="display-4" style="word-wrap: break-word;">Welcome to uriShorty! hope this is your email
                        {{email}}</h1>
                    <p class="lead">Enter your new password below and click on reset! This link is valid only for 10
                        minutes</p>
                    <hr class="my-4">
                    <form id="reset">
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password">
                            <label for="cpassword">Confirm your Password</label>
                            <input type="password" class="form-control" id="cpassword" name="cpassword">
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg">Reset</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

    <script>
        const resetForm = document.getElementById('reset');
        const email = `{{{ email }}}`;
        const token = `{{{ token }}}`;
        const serverBaseURL = `{{{ serverBaseURL }}}`;
        const clientUrl = `{{{ clientUrl }}}`;
        resetForm.addEventListener("submit", (e) => {
            e.preventDefault();

            console.log('I am working');

            const password = document.getElementById('password').value;
            const cpassword = document.getElementById('cpassword').value;


            (async () => {
                try {
                    if (password !== cpassword) {
                        throw new Error('passwords don\'t match');
                    }

                    if (!email || !token) {
                        throw new Error('Email or Token missing');
                    }
                    const response = await fetch(`${serverBaseURL}/resetPassword`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            "email": email,
                            "password": password,
                            "token": token
                        })
                    });
                    console.log(response);
                    const data = await response.json();
                    console.log(data);
                    if (response.status != 200) {
                        throw new Error('Link expired');
                    }
                    alert(data.message);
                    return;
                } catch (err) {
                    console.log(err);
                    alert(err)
                    return;
                }
            })();
        });
    </script>
</body>

</html>